# UI / DB related
psycopg2~=2.9.7
streamlit~=1.26.0
PyYAML~=6.0.1
st-star-rating
requests~=2.31.0
bcrypt

# NLP related
accelerate
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
colorama
contourpy
cramjam
cycler
datasets
dill
evaluate
fastparquet
filelock
flatbuffers
fonttools
frozenlist
fsspec
huggingface-hub
idna
Jinja2
joblib
kiwisolver
libclang
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
mypy-extensions
networkx
ninja
numpy
oauthlib
packaging
pandas
patsy
Pillow
pip
protobuf
psutil
pyarrow
pyasn1
pyparsing
pyre-extensions
python-dateutil
pytz
PyYAML
regex
requests
responses
safetensors
scikit-learn
scipy
sentencepiece
setuptools
six
statsmodels
sympy
tensorboard-data-server
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
typing-inspect
tzdata
unidecode
urllib3
wheel
wrapt
xformers
xxhash
yarl